trigger: none

pr:
  branches:
    include:
      - master
      - release-*
  paths:
    exclude:
      - docs/*
      - website/*
      - README.md

pool: staging-pool

jobs:
  # - template: .pipelines/templates/unit-test.yaml
  # - template: .pipelines/templates/e2e-test-kind.yaml
  - template: .pipelines/templates/arc/e2e-extension-test.yaml
