trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
      - master

jobs:
- job: unit_tests
  timeoutInMinutes: 5
  cancelTimeoutInMinutes: 5
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - task: GoTool@0
    inputs:
      version: '1.14.1'
  - script: |
      make build build-windows
    displayName: 'build linux and windows binaries'
  - script: |
      make unit-test
    displayName: 'Run unit tests'

- job: e2e_test_kind
  pool:
    vmImage: 'ubuntu-latest'
  timeoutInMinutes: 10
  cancelTimeoutInMinutes: 5
  workspace:
    clean: all

  variables:
    GOPATH: '$(system.defaultWorkingDirectory)/gopath'
    modulePath: '$(GOPATH)/src/github.com/$(build.repository.name)'

  steps:
  - task: GoTool@0
    inputs:
      version: '1.14.1'
  - script: |
      git clone https://github.com/kubernetes-sigs/secrets-store-csi-driver.git $(GOPATH)/src/sigs.k8s.io/secrets-store-csi-driver
      sudo add-apt-repository ppa:rmescandon/yq && sudo apt-get update && sudo apt-get install bats && sudo apt-get install yq
    displayName: 'Set up workspace and install dependencies'
  - script: |
      make e2e-bootstrap
      export KUBECONFIG=$(kind get kubeconfig-path)
      kubectl create ns dev
      make e2e-test
    displayName: "Run e2e tests on kind cluster"
    env:
      AZURE_CLIENT_ID: $(AZURE_CLIENT_ID)
      AZURE_CLIENT_SECRET: $(AZURE_CLIENT_SECRET)
      OBJECT1_NAME: $(SECRET_NAME)
      OBJECT1_VERSION: $(SECRET_VERSION)
      OBJECT2_NAME: $(KEY_NAME)
      OBJECT2_VERSION: $(KEY_VERSION)
      KEYVAULT_NAME: $(KEYVAULT_NAME)
      RESOURCE_GROUP: $(RESOURCE_GROUP)
      SUBSCRIPTION_ID: $(SUBSCRIPTION_ID)
      TENANT_ID: $(TENANT_ID)
      CI_KIND_CLUSTER: true
