trigger: none

pr:
  branches:
    include:
      - master
      - release-*
  paths:
    exclude:
      - docs/*
      - website/*
      - README.md
      - .github/*

pool:
  name: staging-pool-amd64-mariner-2
  demands:
  - ImageOverride -equals 1es-azlinux-3-amd64-custom-disk

jobs:
  - template: .pipelines/templates/unit-test.yaml
  - template: .pipelines/templates/e2e-test-kind.yaml
