trigger: none

pr:
  branches:
    include:
      - master
      - release-*
  paths:
    exclude:
      - docs/*
      - website/*

pool: staging-pool

jobs:
  - template: .pipelines/templates/e2e-test-kind-arc.yaml
  # - template: .pipelines/templates/unit-test.yaml
  # - template: .pipelines/templates/e2e-test-kind.yaml
