trigger:
  branches:
    include:
    - master
    - release-*

pr:
  branches:
    include:
      - master
      - release-*
  paths:
    exclude:
      - docs/*
      - website/*

pool:
  vmImage: ubuntu-latest

jobs:
  # - template: .pipelines/templates/unit-test.yaml
  # - template: .pipelines/templates/e2e-test-kind.yaml
  #   parameters:
  #     driverWriteSecrets:
  #     - "true"
  #     - "false"
  - template: templates/e2e-test-azure.yaml
    parameters:
      clusterTypes:
      - "aks"
      osTypes:
      - "linux"
      testWithGPU: true
