trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
      - master
  paths:
    exclude:
      - docs/*

pool:
  vmImage: ubuntu-latest

jobs:
- job: unit_tests
  timeoutInMinutes: 10
  cancelTimeoutInMinutes: 5
  workspace:
    clean: all

  steps:
    - task: GoTool@0
      inputs:
        version: 1.16
    - script: make lint
      displayName: Run lint
    - script: make build build-windows
      displayName: Build
    - script: make unit-test
      displayName: Run unit tests
    - script: bash <(curl -s https://codecov.io/bash)
      displayName: Upload coverage to codecov 
    - script: make helm-lint
      displayName: Run helm lint
    - template: .pipelines/templates/scan-images.yaml

- job: e2e_test_kind
  timeoutInMinutes: 15
  cancelTimeoutInMinutes: 5
  workspace:
    clean: all

  steps:
  - task: GoTool@0
    inputs:
      version: 1.16
  - script: |
      export REGISTRY="e2e"
      export IMAGE_VERSION=e2e-$(git rev-parse --short HEAD)

      echo "Image version: ${IMAGE_VERSION}"
      echo "##vso[task.setvariable variable=IMAGE_VERSION]${IMAGE_VERSION}"
      echo "##vso[task.setvariable variable=REGISTRY]${REGISTRY}"

      make e2e-bootstrap
    displayName: "Build image"
    env:
      CI_KIND_CLUSTER: true
  - script: |
      make e2e-test
    displayName: "Run e2e tests on kind cluster for New Version"
    env:
      AZURE_CLIENT_ID: $(AZURE_CLIENT_ID)
      AZURE_CLIENT_SECRET: $(AZURE_CLIENT_SECRET)
      KEY_NAME: $(KEY_NAME)
      KEY_VERSION: $(KEY_VERSION)
      KEYVAULT_NAME: $(KEYVAULT_NAME)
      SECRET_NAME: $(SECRET_NAME)
      TENANT_ID: $(TENANT_ID)
      CI_KIND_CLUSTER: true
  - script: |
      make e2e-kind-cleanup
    displayName: 'Delete kind cluster'
    condition: always()

- job: custom_cloud_e2e_test_kind
  timeoutInMinutes: 15
  cancelTimeoutInMinutes: 5
  workspace:
    clean: all

  steps:
  - task: GoTool@0
    inputs:
      version: 1.16
  - script: |
      export REGISTRY="e2e"
      export IMAGE_VERSION=e2e-$(git rev-parse --short HEAD)

      echo "Image version: ${IMAGE_VERSION}"
      echo "##vso[task.setvariable variable=IMAGE_VERSION]${IMAGE_VERSION}"
      echo "##vso[task.setvariable variable=REGISTRY]${REGISTRY}"

      make e2e-bootstrap
    displayName: "Build image"
    env:
      CI_KIND_CLUSTER: true
  - script: |
      make e2e-test
    displayName: "Run custom cloud e2e tests on kind cluster for New version"
    env:
      AZURE_CLIENT_ID: $(AZURE_CLIENT_ID)
      AZURE_CLIENT_SECRET: $(AZURE_CLIENT_SECRET)
      KEY_NAME: $(KEY_NAME)
      KEY_VERSION: $(KEY_VERSION)
      KEYVAULT_NAME: $(KEYVAULT_NAME)
      SECRET_NAME: $(SECRET_NAME)
      TENANT_ID: $(TENANT_ID)
      CI_KIND_CLUSTER: true
      AZURE_ENVIRONMENT: AzureStackCloud
      AZURE_ENVIRONMENT_FILEPATH: /provider/custom_environment.json
  - script: |
      make e2e-kind-cleanup
    displayName: 'Delete kind cluster'
    condition: always()
