{{- if .Values.linux.enabled}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "sscdpa.fullname" . }}
  namespace: {{ .Release.Namespace }}
{{ include "sscdpa.labels" . | indent 2 }}
spec:
  updateStrategy:
{{ toYaml .Values.linux.updateStrategy | indent 4 }}
  selector:
    matchLabels:
      app: {{ template "sscdpa.name" . }}
  template:
    metadata:
{{ include "sscdpa.labels" . | indent 6 }}
{{- if .Values.linux.podLabels }}
{{- toYaml .Values.linux.podLabels | nindent 8 }}
{{- end }}
{{- if .Values.linux.podAnnotations }}
      annotations:
{{- toYaml .Values.linux.podAnnotations | nindent 8 }}
{{- end }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.imagePullSecrets | indent 8 }}
      {{- end }}
      serviceAccountName: csi-secrets-store-provider-azure
      hostNetwork: true
      containers:
        - name: provider-azure-installer
          image: "{{ .Values.image.repository | default .Values.linux.image.repository }}:{{ .Values.image.tag | default .Values.linux.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.linux.image.pullPolicy }}
          args:
            - --endpoint=unix:///provider/azure.sock
            {{- if .Values.logFormatJSON }}
            - --log-format-json={{ .Values.logFormatJSON }}
            {{- end }}
            {{- if .Values.logVerbosity }}
            - -v={{ .Values.logVerbosity }}
            {{- end }}
            {{- if .Values.constructPEMChain }}
            - --construct-pem-chain={{ .Values.constructPEMChain }}
            {{- end }}
            {{- if .Values.linux.customUserAgent }}
            - --custom-user-agent={{ .Values.linux.customUserAgent }}
            {{- end }}
            - --healthz-port={{ .Values.linux.healthzPort }}
            - --healthz-path={{ .Values.linux.healthzPath }}
            - --healthz-timeout={{ .Values.linux.healthzTimeout }}
          livenessProbe:
            httpGet:
              path: {{ .Values.linux.healthzPath }}
              port: {{ .Values.linux.healthzPort }}
            failureThreshold: 3
            initialDelaySeconds: 5
            timeoutSeconds: 10
            periodSeconds: 30
          resources:
{{ toYaml .Values.linux.resources | indent 12 }}
          {{- if .Values.linux.privileged }}
          securityContext:
            privileged: true
          {{- end }}
          volumeMounts:
            - name: provider-vol
              mountPath: /provider
            - name: mountpoint-dir
              mountPath: /var/lib/kubelet/pods
              mountPropagation: HostToContainer
            {{- if .Values.linux.volumeMounts }}
            {{- toYaml .Values.linux.volumeMounts | nindent 12 }}
            {{- end}}
      affinity:
{{ toYaml .Values.linux.affinity | indent 8 }}
      {{- if .Values.linux.priorityClassName }}
      priorityClassName: {{ .Values.linux.priorityClassName | quote }}
      {{- end }}
      volumes:
        - name: provider-vol
          hostPath:
            path: "/etc/kubernetes/secrets-store-csi-providers"
        - name: mountpoint-dir
          hostPath:
            path: "/var/lib/kubelet/pods"
        {{- if .Values.linux.volumes }}
        {{- toYaml .Values.linux.volumes | nindent 8 }}
        {{- end}}
      nodeSelector:
        kubernetes.io/os: linux
{{- if .Values.linux.nodeSelector }}
{{- toYaml .Values.linux.nodeSelector | nindent 8 }}
{{- end }}
{{- with .Values.linux.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
{{- end -}}
