image:
  repository: mcr.microsoft.com/k8s/csi/secrets-store/provider-azure
  tag: 0.0.4
  pullPolicy: IfNotPresent

linux:
  enabled: true
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 50m
      memory: 100Mi

windows:
  enabled: false
  resources:
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      cpu: 100m
      memory: 200Mi

## Configuration values for the secrets-store-csi-driver dependency.
## ref: https://github.com/kubernetes-sigs/secrets-store-csi-driver/blob/master/charts/csi-secrets-store-provider-azure/README.md
##
secrets-store-csi-driver:
  install: true
  linux:
    enabled: true
  windows:
    enabled: false
